@using TicariOtomasyon.Models.Siniflar
@model List<Personel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<table class="table table-bordered">
    <tr>
        <th>Personel id</th>
        <th>Personel Adı</th>
        <th>Personel Soyadı</th>
        <th>Personel Gorsel</th>
        <th>Departman</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var per in Model)
    {
        <tr>
            <td>@per.Personelid</td>           
            <td>@per.PersonelAd</td>         
            <td>@per.PersonelSoyad</td>         
            <td>@per.PersonelGorsel</td>       
            <td>@per.Departman.DepartmanAd</td>       
            <td><a href="~/Personel/PersonelGetir/@per.Personelid" class="btn btn-warning">Güncele</a></td>
            <td><a href="~/Departman/DepartmanPersonelSatis/@per.Personelid" class="btn btn-default" style="background-color:lightcoral">Satış Geçmişi</a></td>
        </tr>
    }
</table>
<a href="/Personel/PersonelEkle" class="btn btn-primary">Yeni Personel</a>

