@using TicariOtomasyon.Models.Siniflar
@model List<Faturalar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Index</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>Fatura Seri Sıra No</th>

        <th>Vergi Dairesi</th>
        <th>Tarih</th>
        <th>Saat</th>
        <th>Toplam</th>
        <th>Durum</th>
        <th>Güncelle</th>
        <th>Kalem</th>


    </tr>
    @foreach (var f in Model)
    {

        <tr>
            <td>@f.FaturaSeriNo @f.FaturaSıraNo</td>
            <td>@f.VergiDairesi</td>
            <td>@Convert.ToDateTime(f.Tarih).ToString("dd/MM/yyyy")</td>
            <td>@f.Saat</td>
            <td>@f.Toplam ₺</td>
            <td><a href="/Fatura/FaturaDetay/@f.Faturaid" class="btn btn-info">Detaylar</a></td>

            @*<td><a href="/Urun/UrunSil/@f.Faturaid" class="btn btn-danger">Sil</a></td>*@
            <td><a href="/Fatura/FaturaGetir/@f.Faturaid" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Fatura/FaturaGetir/@f.Faturaid" class="btn btn-success">Kalem</a></td>
        </tr>

    }
</table>
<a href="/Fatura/FaturaEkle" class="btn btn-primary">Yeni Fatura</a>
